body {
    margin: 0;
    font-family: 'Montserrat';
    padding: 0;
  }
  
  /* Navbar */
  
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 50px;
    background-color: rgb(214, 235, 254);
    overflow: hidden;
  }
  nav .logo {
    margin-right: auto;
    width: 90px;
  }
  nav li {
    list-style: none;
    display: inline-block;
    padding: 0px 30px;
    font-size: 20px;
  }
  nav li:nth-child(3) {
    padding-right: 0;
  }
  nav a {
    text-decoration: none;
  }
  nav a:hover {
    color: #3081dd;
  }
  nav .menu {
    display: none;
  }
  
  /* hero container */
  .hero-container {
    position: relative;
  }
  
  .hero-container > .hero-img-container {
    width: 100%;
  }
  
  .hero-container > .hero-container-content {
    position: absolute;
    top: 160px;
    left: 30px;
    color: white;
    font-size: 18px;
  }
  
  /* cardbox */
  .card-content {
    margin: 30px 15px 30px 15px;
  }
  .card-content > h2 {
    text-align: center;
  }
  
  .card-content > .card-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1rem;
  }
  .card-content > .card-menu .card {
    border: 1px solid black;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }
  
  .img-container {
    max-width: 100%;
    border-radius: 20px;
    height: 500px;
    object-fit: cover;
  }
  
  /* aside */
  aside {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .aside-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
  }
  .aside-container h3 {
    color: rgb(192, 42, 67);
    font-size: 24px;
  }
  .aside-container h1 {
    font-weight: bold;
    font-size: 45px;
  }
  .aside-container p {
    font-size: 20px;
  }
  .profile {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 15px;
  }
  .data-diri {
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  /* footer */
  .footer-container {
    width: 100%;
    background-color: rgb(214, 235, 254);
  }
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0;
    margin: 0 auto;
    max-width: 80%;
  }
  
  .left-container > h1 {
    margin-bottom: 0px;
  }
  .left-container,
  .right-container {
    text-align: start;
  }
  .right-container > h2 {
    color: blue;
  }
  .bottom-container {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  @media screen and (max-width: 680px) {
    body {
      font-size: 80%;
    }
    nav {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    nav .logo {
      margin: auto;
      width: 30%;
    }
    nav ul {
      display: none;
      text-align: center;
    }
    nav li {
      font-size: 4vw;
      padding: 10px;
    }
    nav .menu {
      display: inline-block;
      width: 6vw;
      right: 3vw;
      top: 2.5%;
      position: absolute;
    }
  
    .card-content > .card-menu {
      display: flex;
      flex-direction: column;
    }
  
    .hero-container > .hero-container-content {
      display: none;
    }
    .aside-container h3 {
      color: rgb(192, 42, 67);
      font-size: 20px;
    }
    .aside-container h1 {
      font-weight: bold;
      font-size: 30px;
    }
    .aside-container p {
      font-size: 15px;
    }
    .footer-wrapper {
      display: flex;
      flex-direction: column;
    }
    .left-container,
    .right-container {
      text-align: center;
    }
  }